<!--This file will render on the page with this url http://localhost:3000/   -->

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/style.css">
  <title>Add New Club</title>
</head>

<body>
  <h1>Club List</h1>
  <table align="center" border="1">
    <tr>
      <th>
        Club Name
      </th>
      <th>
        Club Location
      </th>
      <th>
        College Recruiting Program
      </th>
      <th>
        Price/year
      </th>
      <th>Teams</th>
    </tr>
    {{#contacts}}
      <tr>
        <td><a href="/contactForm?id={{_id}}">{{clubName}}</a></td>
        <td>{{location}}</td>
        <td>{{recruiting}}</td>
        <td>{{price}}</td>
        <td>{{teams}}</td>
        <td><a href="/deleteContact/?id={{_id}}">Delete</a></td>
      </tr>
    {{/contacts}}

  </table>

</body>

</html>
